.container{
    background-image: url('https://i.pinimg.com/originals/88/d7/9e/88d79ecf8069585d6e1b95a5805098df.jpg');
    background-size: cover;
    background-position: center;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    color: azure;
}

.home {
    color: white;
    border-color: crimson;
}
